#divPadre {
    display: flex;
    padding: 5%;
    text-align: center;
    justify-content: center;

}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: darkolivegreen
}

#borde {
    position: relative;
    width: 350px;
    height: 225px;
    border-radius: 16px;
    background-color: rgb(90, 136, 136);
}

#reloj{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: azure;
    font-size: x-large;
}