#divPadre {
    display: flex;
    padding: 5%;
    text-align: center;
    justify-content: center;

}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: darkolivegreen
}

#caja {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 350px;
    height: auto;
    border-radius: 16px;
    background-color: rgb(90, 136, 136);
}

#reloj{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: azure;
    font-size: 2em;
}

#btn_start_stop{
    display: flex;
    justify-content: center;
    gap: 45px;
    font-size: 1.5em;
    color: rgb(0, 0, 0, .7);
}
#counter{
    font-size: x-large;
    color: azure;
}